.tool-bar{
    float: right;
    width: 64px;
    height: 200px;
    margin: 340px 2px auto 95%;
    background-color: rgba(101, 101, 101, 0.4);
    position: fixed;
}

.article-info{
    width: 56px;
    height: 52px;
    padding: 8px;
}
.article-date{
    font-size: 16px;
    color: rgba(126, 255, 234, 0.94);
    text-align: left;
}

.form-submit{
    width: 64px;
    height: 48px;
    padding:16px 0;
    margin: 0 0 52px;
    border-bottom: 1px #888888;
    border-top: 1px #888888;
    background-color: rgba(129, 129, 129, 0.6);
    display:block;
    font-weight:bold;
    color: #252525;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 16px;
    color: rgba(126, 255, 234, 0.94);
}

.form-submit:hover{
    background-color: rgba(156, 245, 245, 0.89);
    color: #ff7c2a;
}
.context-box{
    width: 70%;
    padding: 70px 60px 20px;
    margin: 0 15% auto;

    background-color: rgba(50, 55, 58, 0.62);
}
.context-box h2{
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color: #dffff7;
}
.context-box .line{
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: #021111;
}
.context-box #text{
    text-decoration:none;
    text-transform:uppercase;
    font-size: 16px;
    color: #b6d0cb;
    margin-top: 40px;
}
