.background-d{
    margin: 0;
    background:url("/image/mainbackground.jpg") no-repeat fixed center;
    background-size: cover;
}
.background-c-login{
    align-items: center;
    place-items: center;
    background: url("/image/bg1.jpg") no-repeat fixed center;
    background-size: cover;
    display: grid;
    height: 100vh;
}
.background-c{
    margin: 0;
    background:url("/image/bg1.jpg") no-repeat fixed center;
    background-size: cover;
}

